
.biubiu {
  width: 6.68rem;
  min-height: 8rem;

  background: url('https://sss.qingting.fm/growth-active/qt-cpu-price/biubiu-bg.png!/format/webp') left top / 100% no-repeat;
  border-radius: 0.49rem;
  border: 0.17rem solid #eb4048;
  margin: auto;
  position: relative;
}

